ConsumerCase.baseDir=@BUILD_DIR@/examples/consumers
ServiceCase.baseDir=@BUILD_DIR@/examples/services
ProducerCase.baseDir=@BUILD_DIR@/examples/producers
WorkflowCase.baseDir=@BUILD_DIR@/examples/workflows
CassandraServiceCase.baseDir=@BUILD_DIR@/examples/services
CassandraServiceCase.enabled=false
CassandraServiceCase.host=localhost
CassandraServiceCase.keyspace=INTERLOK_KS
